
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#ff574d, #ff8347);
}

.title{
    font-size: 85px;
    color: white; 
    animation: flipTitle 2s;
}

@keyframes flipTitle {
    from{
     transform: rotateX(90deg);
    }
    to{
     transform: rotateX(0deg);
     }
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.5);
    transition: transform 0.2s;
}

.containerInput:hover{
    transform: scale(1.1);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder{
    color: #f1f1f1;
}

.ButtonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.ButtonSearch:hover{
    transform: scale(1.2);
}

.Main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 400px;
    border-radius: 8px;
}

.Main h2{
    margin: 16px;
    font-size: 39px;
}

.Main span{
    margin-bottom: 16px;
    font-weight: bold;   
}

@media (max-width: 700px){
    .title{
        font-size: 60px;
    }

    .Main h2{
        font-size: 28px;
    }
    
    .Main {
        width: 80%;
        min-height: 250px;
    }
}